In [480]:
import pandas as pd
import numpy as np

In [481]:
data = pd.read_csv("pitching_stacked_hwh.csv")
agg = pd.read_csv("pitching_agg.csv")
data = pd.merge(data, agg, how="inner", left_on="player_id", right_on="player_id")
data.head()

,Unnamed: 0,Unnamed: 0.1,player_id,year-0,g-0,w-0,l-0,gs-0,cg-0,sho-0,...,cg_per_g,sho_per_g,sv_per_g,ipouts_per_g,bb_per_bfp,hbp_per_bfp,hr_per_tbf,so_per_tbf,wp_per_bfp,so_per_bb
0,0,0,hamiljo02,1994,16,9,6,16,1,1,...,0.041667,0.023810,0.000000,18.440476,0.086152,0.011051,0.023233,0.173620,0.008345,1.819372
1,1,1,nelsojo01,2001,2,0,0,0,0,0,...,0.000000,0.000000,0.187500,3.083333,0.128319,0.017699,0.032086,0.262032,0.004425,1.689655
2,2,2,lopezro01,2000,6,0,3,6,0,0,...,0.036496,0.014599,0.000000,16.386861,0.072891,0.007444,0.034436,0.168769,0.004032,2.106383
3,3,3,spradje01,1993,37,2,1,0,0,0,...,0.000000,0.000000,0.021164,3.502645,0.064732,0.003348,0.028743,0.204790,0.016741,2.948276
4,4,4,powelde01,1985,16,1,1,2,0,0,...,0.000000,0.000000,0.024000,5.640000,0.099812,0.007533,0.024262,0.139241,0.012241,1.245283

In [482]:
for_drop = ["Unnamed: 0", "Unnamed: 0.1"]
data = data.drop(for_drop, axis = 1)

In [483]:
yvals = pd.read_csv("pitching_yarr.csv")
yvals.head()

   player_id    0    1    2    3    4    5    6  7  8
0  hamiljo02  1.2 -0.5 -0.3 -0.3  0.0  0.0  0.0  0  0
1  nelsojo01  0.0  1.6  0.0 -0.3  0.0  0.0  0.0  0  0
2  lopezro01 -0.1  1.0  0.0 -0.7 -0.7  0.1 -0.2  0  0
3  spradje01  0.3 -0.7  0.0  0.0  0.0  0.0  0.0  0  0
4  powelde01  0.0  0.2  0.6  0.0  0.0  0.0  0.0  0  0

In [484]:
yvals = pd.merge(yvals, data[["player_id"]], how = "inner", left_on="player_id", right_on = "player_id")
yvals.head()

year = data["year-0"]
year.head()
year = year.as_matrix()

pids = data["player_id"]
pids = pids.as_matrix()
pids

array(['hamiljo02', 'nelsojo01', 'lopezro01', ..., 'radkebr01',
       'norribu01', 'whitema02'], dtype=object)

In [485]:
y = yvals["3"].as_matrix()
y[0:5]

array([-0.3, -0.3, -0.7,  0. ,  0. ])

In [486]:
data["HW_ratio"] = data["height"] / data["weight"]

data = data.drop("bats", axis = 1)

In [487]:
data["decade"] = np.floor((data["year-0"] - 1970)/10)

data = data.drop("year-0", axis=1)
data.head()

,player_id,g-0,w-0,l-0,gs-0,cg-0,sho-0,sv-0,ipouts-0,h-0,...,sv_per_g,ipouts_per_g,bb_per_bfp,hbp_per_bfp,hr_per_tbf,so_per_tbf,wp_per_bfp,so_per_bb,HW_ratio,decade
0,hamiljo02,16,9,6,16,1,1,0,326,98,...,0.000000,18.440476,0.086152,0.011051,0.023233,0.173620,0.008345,1.819372,0.345455,2
1,nelsojo01,2,0,0,0,0,0,0,6,7,...,0.187500,3.083333,0.128319,0.017699,0.032086,0.262032,0.004425,1.689655,0.400000,3
2,lopezro01,6,0,3,6,0,0,0,74,40,...,0.000000,16.386861,0.072891,0.007444,0.034436,0.168769,0.004032,2.106383,0.394595,3
3,spradje01,37,2,1,0,0,0,2,147,44,...,0.021164,3.502645,0.064732,0.003348,0.028743,0.204790,0.016741,2.948276,0.343478,2
4,powelde01,16,1,1,2,0,0,1,88,30,...,0.024000,5.640000,0.099812,0.007533,0.024262,0.139241,0.012241,1.245283,0.428571,1

In [488]:
from sklearn.preprocessing import LabelBinarizer
lb = LabelBinarizer()
lb.fit(data["decade"])
binarized = lb.transform(data["decade"])
bins = pd.DataFrame(binarized)
bins.head()

   0  1  2  3
0  0  0  1  0
1  0  0  0  1
2  0  0  0  1
3  0  0  1  0
4  0  1  0  0

In [489]:
bins = bins.rename(columns = {0 : "1970s", 1 : "1980s", 2 : "1990s", 3 : "2000s"})
bins.head()

   1970s  1980s  1990s  2000s
0      0      0      1      0
1      0      0      0      1
2      0      0      0      1
3      0      0      1      0
4      0      1      0      0

In [490]:
data = pd.merge(data, bins, how="left", left_index=True, right_index=True)
data = data.drop("decade", axis = 1)
data.head()

,player_id,g-0,w-0,l-0,gs-0,cg-0,sho-0,sv-0,ipouts-0,h-0,...,hbp_per_bfp,hr_per_tbf,so_per_tbf,wp_per_bfp,so_per_bb,HW_ratio,1970s,1980s,1990s,2000s
0,hamiljo02,16,9,6,16,1,1,0,326,98,...,0.011051,0.023233,0.173620,0.008345,1.819372,0.345455,0,0,1,0
1,nelsojo01,2,0,0,0,0,0,0,6,7,...,0.017699,0.032086,0.262032,0.004425,1.689655,0.400000,0,0,0,1
2,lopezro01,6,0,3,6,0,0,0,74,40,...,0.007444,0.034436,0.168769,0.004032,2.106383,0.394595,0,0,0,1
3,spradje01,37,2,1,0,0,0,2,147,44,...,0.003348,0.028743,0.204790,0.016741,2.948276,0.343478,0,0,1,0
4,powelde01,16,1,1,2,0,0,1,88,30,...,0.007533,0.024262,0.139241,0.012241,1.245283,0.428571,0,1,0,0

In [491]:
lbh = LabelBinarizer()
lbh.fit(data["throws"])
binh = lbh.transform(data["throws"])
binh = pd.DataFrame(binh)
binh = binh.rename(columns = {0 : "R"})
binh.head()

   R
0  1
1  1
2  1
3  1
4  0

In [492]:
data = pd.merge(data, binh, how="left", left_index=True, right_index=True)
data = data.drop("throws", axis = 1)
data.head()

,player_id,g-0,w-0,l-0,gs-0,cg-0,sho-0,sv-0,ipouts-0,h-0,...,hr_per_tbf,so_per_tbf,wp_per_bfp,so_per_bb,HW_ratio,1970s,1980s,1990s,2000s,R
0,hamiljo02,16,9,6,16,1,1,0,326,98,...,0.023233,0.173620,0.008345,1.819372,0.345455,0,0,1,0,1
1,nelsojo01,2,0,0,0,0,0,0,6,7,...,0.032086,0.262032,0.004425,1.689655,0.400000,0,0,0,1,1
2,lopezro01,6,0,3,6,0,0,0,74,40,...,0.034436,0.168769,0.004032,2.106383,0.394595,0,0,0,1,1
3,spradje01,37,2,1,0,0,0,2,147,44,...,0.028743,0.204790,0.016741,2.948276,0.343478,0,0,1,0,1
4,powelde01,16,1,1,2,0,0,1,88,30,...,0.024262,0.139241,0.012241,1.245283,0.428571,0,1,0,0,0

In [493]:
data = data.drop("player_id", axis = 1)
data.head()

,g-0,w-0,l-0,gs-0,cg-0,sho-0,sv-0,ipouts-0,h-0,er-0,...,hr_per_tbf,so_per_tbf,wp_per_bfp,so_per_bb,HW_ratio,1970s,1980s,1990s,2000s,R
0,16,9,6,16,1,1,0,326,98,36,...,0.023233,0.173620,0.008345,1.819372,0.345455,0,0,1,0,1
1,2,0,0,0,0,0,0,6,7,8,...,0.032086,0.262032,0.004425,1.689655,0.400000,0,0,0,1,1
2,6,0,3,6,0,0,0,74,40,24,...,0.034436,0.168769,0.004032,2.106383,0.394595,0,0,0,1,1
3,37,2,1,0,0,0,2,147,44,19,...,0.028743,0.204790,0.016741,2.948276,0.343478,0,0,1,0,1
4,16,1,1,2,0,0,1,88,30,17,...,0.024262,0.139241,0.012241,1.245283,0.428571,0,1,0,0,0

In [494]:
#Convert to matrix
X = data.as_matrix()
X[0:10]

array([[ 16.,   9.,   6., ...,   1.,   0.,   1.],
       [  2.,   0.,   0., ...,   0.,   1.,   1.],
       [  6.,   0.,   3., ...,   0.,   1.,   1.],
       ...,
       [ 24.,   8.,   9., ...,   0.,   0.,   1.],
       [  3.,   0.,   0., ...,   0.,   0.,   0.],
       [ 21.,   3.,   1., ...,   1.,   0.,   1.]])

In [495]:
from sklearn.preprocessing import MinMaxScaler

Scaler = MinMaxScaler()
Scaler.fit(X)
X = Scaler.transform(X)
X[0:2]

array([[ 0.18987342,  0.52941176,  0.31578947,  0.45714286,  0.0625    ,
         0.25      ,  0.        ,  0.45786517,  0.44144144,  0.31034483,
         0.21875   ,  0.2027972 ,  0.22101449,  0.2       ,  0.27272727,
         0.35294118,  0.46122027,  0.        ,  0.33057851,  0.46127946,
         0.67241379,  0.05521472,  0.23786408,  0.84409257,  1.        ,
         0.5625    ,  0.375     ,  0.6       ,  0.        ,  0.09375   ,
         0.125     ,  0.        ,  0.815     ,  0.12975392,  0.09395974,
         0.02548543,  0.20500373,  0.08053692,  0.23371648,  0.61538462,
         0.36470588,  0.25      ,  0.40909091,  0.75      ,  0.11764706,
         0.25      ,  0.        ,  0.7280285 ,  0.65397924,  0.51851852,
         0.425     ,  0.4       ,  0.45895522,  0.3125    ,  0.0952381 ,
         0.6875    ,  0.7118928 ,  0.01470588,  0.59333333,  0.71506849,
         0.37398374,  0.045677  ,  0.28965517,  0.82418712,  0.96774194,
         0.19354839,  0.29032258,  0.4       ,  0.03225806,  0.10138249,
         0.20161291,  0.        ,  0.81950845,  0.10980392,  0.14235298,
         0.11289913,  0.31417624,  0.01764705,  0.19967532,  0.61538462,
         0.38636364,  0.625     ,  0.47368421,  0.80487805,  0.15      ,
         0.125     ,  0.        ,  0.72405929,  0.72535211,  0.70503597,
         0.51351351,  0.664     ,  0.68401487,  0.16666667,  0.53846154,
         0.45      ,  0.7442623 ,  0.        ,  0.68493151,  0.72922252,
         0.34444444,  0.03858268,  0.37867647,  0.80508475,  0.97058824,
         0.60661764,  0.26470588,  0.625     ,  0.        ,  0.14932126,
         0.14338233,  0.        ,  0.77621228,  0.18281938,  0.05947134,
         0.06985293,  0.4509804 ,  0.0770925 ,  0.22168675,  0.61538462,
         0.35632184,  0.48      ,  0.31818182,  0.725     ,  0.04      ,
         0.        ,  0.        ,  0.59282051,  0.6722973 ,  0.72222222,
         0.55      ,  0.45394737,  0.46969697,  0.11111111,  0.35      ,
         0.6       ,  0.62906889,  0.01470588,  0.72463768,  0.60240964,
         0.28      ,  0.06747405,  0.43116666,  0.76859712,  0.93548387,
         0.54193548,  0.22580645,  0.63157895,  0.03225806,  0.04768583,
         0.        ,  0.        ,  0.72642136,  0.16606498,  0.07220215,
         0.11733332,  0.29759999,  0.00842359,  0.12537917,  0.61538462,
         0.37362637,  0.54166667,  0.68421053,  0.85      ,  0.        ,
         0.        ,  0.        ,  0.72044199,  0.77738516,  0.79844961,
         0.39473684,  0.73611111,  0.50515464,  0.43478261,  0.2       ,
         0.4       ,  0.7757085 ,  0.        ,  0.74834437,  0.73455178,
         0.21505376,  0.15797546,  0.49419711,  0.77556649,  1.        ,
         0.38235294,  0.47794117,  0.5       ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.7423222 ,  0.28768267,  0.13695197,
         0.0799763 ,  0.34329282,  0.03340296,  0.11556604,  0.61538462,
         0.23404255,  0.30434783,  0.42105263,  0.45      ,  0.        ,
         0.        ,  0.        ,  0.32343234,  0.41114983,  0.53383459,
         0.31707317,  0.25827815,  0.18181818,  0.        ,  0.19047619,
         0.14285714,  0.35115722,  0.01408451,  0.50344828,  0.34310345,
         0.00952381,  0.06037415,  0.39530988,  0.55580192,  0.81818182,
         0.46666667,  0.36363636,  0.46666667,  0.04545455,  0.        ,
         0.        ,  0.        ,  0.50747161,  0.17727272,  0.09545452,
         0.09254607,  0.28140704,  0.10363637,  0.13616269,  0.23529412,
         0.4516129 ,  0.58823529,  1.        ,  0.        ,  0.36697248,
         0.62      ,  0.61176471,  0.75117371,  0.07216495,  0.16666667,
         0.        ,  0.63818258,  0.72428571,  0.74074074,  0.51977401,
         0.55882353,  0.52084913,  0.33333333,  0.46835443,  0.59756098,
         0.67583012,  0.00934579,  0.75185736,  0.65424739,  0.14027778,
         0.26186104,  0.47191771,  0.8205695 ,  0.95238095,  0.65321429,
         0.6372549 ,  0.54385965,  0.0200267 ,  0.08785141,  0.18115939,
         0.        ,  0.79783597,  0.4187502 ,  0.3131108 ,  0.29373866,
         0.31828943,  0.22092   ,  0.13905009,  0.41036206,  0.        ,
         0.        ,  1.        ,  0.        ,  1.        ],
       [ 0.01265823,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.00842697,  0.03153153,  0.06896552,
         0.03125   ,  0.01398601,  0.        ,  0.        ,  0.        ,
         0.05882353,  0.01551189,  0.        ,  0.07438017,  0.01234568,
         0.01724138,  0.66666667,  0.58333333,  0.17052375,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.12      ,  0.25      ,  0.43750001,
         0.12499999,  0.        ,  0.        ,  0.        ,  0.79487179,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.00813008,  0.05935847,  0.30559993,  0.33493592,  0.33702257,
         0.16726337,  0.16431571,  0.50444488,  0.27141677,  0.05642288,
         0.03150713,  0.07557189,  0.34041883,  0.14533192,  0.07587811,
         0.13353819,  0.36000864,  0.06042615,  0.16900217,  0.79487179,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.01111111,  0.03709904,  0.38199991,  0.35077671,  0.33702257,
         0.22998713,  0.16431571,  0.50444488,  0.27141677,  0.0607631 ,
         0.04915111,  0.11599406,  0.34245726,  0.1743983 ,  0.04138806,
         0.07704126,  0.36000864,  0.0402841 ,  0.18590239,  0.79487179,
         0.03448276,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.00820513,  0.01351351,  0.03968254,
         0.        ,  0.01973684,  0.01893939,  0.        ,  0.        ,
         0.1       ,  0.01286904,  0.01470588,  0.03623188,  0.00883534,
         0.01      ,  0.26785714,  0.59090908,  0.08836907,  0.        ,
         0.        ,  0.        ,  0.        ,  0.33333333,  0.        ,
         0.        ,  0.        ,  0.0831952 ,  0.35294118,  0.5882353 ,
         0.        ,  0.8181818 ,  0.        ,  0.11627907,  0.79487179,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.01075269,  0.14839618,  0.47974788,  0.3181392 ,  0.33702257,
         0.16726337,  0.20539464,  0.50444488,  0.27141677,  0.04488184,
         0.04032912,  0.10208834,  0.30691835,  0.22671779,  0.11312736,
         0.11556189,  0.35479112,  0.06445456,  0.15491866,  0.79487179,
         0.45744681,  0.04347826,  0.05263158,  0.        ,  0.        ,
         0.        ,  0.16981132,  0.14741474,  0.12891986,  0.16541353,
         0.12195122,  0.1589404 ,  0.14285714,  0.2       ,  0.04761905,
         0.04761905,  0.15403033,  0.28169014,  0.15172414,  0.14137931,
         0.05714286,  0.04104478,  0.30081301,  0.09151068,  0.        ,
         0.03410852,  0.02325581,  0.5       ,  0.46511628,  0.        ,
         0.        ,  0.26064064,  0.10321244,  0.24870466,  0.0725389 ,
         0.0863821 ,  0.53658536,  0.05906739,  0.17385057,  0.64705882,
         0.22580645,  0.47058824,  0.25      ,  0.        ,  0.09174312,
         0.01      ,  0.01176471,  0.        ,  0.        ,  0.        ,
         0.04787234,  0.02334306,  0.02285714,  0.04186795,  0.02824859,
         0.03970588,  0.03108415,  0.05797101,  0.01265823,  0.04878049,
         0.02594595,  0.06542056,  0.04011887,  0.02235469,  0.04097222,
         0.57744945,  0.46821755,  0.06306406,  0.        ,  0.03687499,
         0.04289215,  0.5       ,  0.4906542 ,  0.        ,  0.        ,
         0.33211436,  0.05955154,  0.70070822,  0.50147503,  0.43147487,
         0.56846364,  0.11714417,  0.12340246,  0.64271938,  0.        ,
         0.        ,  0.        ,  1.        ,  1.        ]])

In [496]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, y, test_size = 0.2, random_state=12345)

In [497]:
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import GridSearchCV

alphas = [0.01, 0.1, 1, 10, 100]
nodes = [(6), (8), (10), (12), (14), (8, 3), (10, 3), (12, 4), (14, 5)]
params = {"alpha" : alphas, "hidden_layer_sizes" : nodes}

In [528]:
from sklearn.linear_model import Ridge

#linear feature selector
from sklearn.feature_selection import RFE

Rge = Ridge(alpha = 2)

feat = 7

myRFE = RFE(Rge, n_features_to_select=feat, step = 1)

In [529]:
myRFE.fit(Xtrain, Ytrain)

RFE(estimator=Ridge(alpha=2, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001),
  n_features_to_select=7, step=1, verbose=0)

In [530]:
colindex = np.argsort(myRFE.ranking_)[0:feat]
colindex

array([ 94,  11,  19, 265, 264, 172,  60])

In [531]:
best = list(data.columns[colindex])
best

['wp-2', 'bb-0', 'tbf-0', 'era', 'war', 'so-4', 'war-1']

In [532]:
from sklearn.metrics import r2_score
Rdg2 = Ridge()
rdge_alp = {'alpha' : [0.01, 0.1, 1, 10, 100]}
GSrid = GridSearchCV(Rdg2, rdge_alp, return_train_score = True, scoring = 'r2')

In [533]:
Xtrain_new = Xtrain[:, colindex]
Xtest_new = Xtest[:, colindex]
Xtest_new

array([[ 0.15384615,  0.11888112,  0.18294052, ...,  0.06805556,
         0.11683849,  0.02439024],
       [ 0.11538462,  0.        ,  0.01234568, ...,  0.075     ,
         0.        ,  0.        ],
       [ 0.03846154,  0.        ,  0.00224467, ...,  0.08541667,
         0.42955326,  0.00813008],
       ...,
       [ 0.03846154,  0.04195804,  0.04489338, ...,  0.10416667,
         0.29896907,  0.00813008],
       [ 0.19230769,  0.06293706,  0.06285073, ...,  0.19027778,
         0.2233677 ,  0.07317073],
       [ 0.11538462,  0.16083916,  0.23007856, ...,  0.12916667,
         0.51546392,  0.08130081]])

In [534]:
GSrid.fit(Xtrain_new, Ytrain)

GridSearchCV(cv=None, error_score='raise',
       estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'alpha': [0.01, 0.1, 1, 10, 100]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='r2', verbose=0)

In [535]:
GSrid.best_score_

0.46635138421592542

In [536]:
GSrid.best_params_

{'alpha': 0.1}

In [537]:
preds = GSrid.predict(Xtest_new)

r2_score(Ytest, preds)

0.40550277541631319

In [254]:
alphas = [0.1, 1, 10, 100]
nodes = [(4), (6), (7), (8), (10), (8, 3), (10, 3), (12, 4), (14, 5)]
params = {"alpha" : alphas, "hidden_layer_sizes" : nodes}


MLP = MLPRegressor(activation = 'relu', solver = 'lbfgs', random_state = 54321)

GS = GridSearchCV(MLP, params, return_train_score = True, scoring = 'r2')

In [255]:
GS.fit(Xtrain_new, Ytrain)

GridSearchCV(cv=None, error_score='raise',
       estimator=MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=54321,
       shuffle=True, solver='lbfgs', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'alpha': [0.1, 1, 10, 100], 'hidden_layer_sizes': [4, 6, 7, 8, 10, (8, 3), (10, 3), (12, 4), (14, 5)]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='r2', verbose=0)

In [114]:
GS.best_score_

0.45650324044357105

In [266]:
GS.best_params_

{'alpha': 10, 'hidden_layer_sizes': (10, 3)}

In [267]:
preds = GS.predict(Xtest_new)

r2_score(Ytest, preds)

preds = pd.DataFrame(preds)
preds.to_csv("pitching_year4.csv")

In [278]:
from sklearn.ensemble import RandomForestRegressor

DTR = RandomForestRegressor(n_estimators = 100)

mx_depth = [2, 3, 4, 5, 6, 7]
mn_lf_splt = [1, 2, 3, 4]
param_tree = {"max_depth" : mx_depth, "min_samples_leaf" : mn_lf_splt}
GStree = GridSearchCV(DTR, param_tree, return_train_score=True, scoring='r2')

In [279]:
GStree.fit(Xtrain_new, Ytrain)

GridSearchCV(cv=None, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'min_samples_leaf': [1, 2, 3, 4], 'max_depth': [2, 3, 4, 5, 6, 7]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='r2', verbose=0)

In [280]:
GStree.best_score_

0.39870745254250139

In [281]:
GStree.best_params_

{'max_depth': 6, 'min_samples_leaf': 2}

In [282]:
tree_preds = GStree.predict(Xtest_new)

r2_score(Ytest, tree_preds)

0.58047420931454885

In [167]:
from sklearn.svm import SVR

svr = SVR(kernel = 'rbf')
Cval = [ 200, 500, 1000]
eps = [ 0.01, 0.1, 1, 3]
gamma = [0.1, 0.01, 0.001]
svm_dict = {"C" : Cval, "epsilon" : eps, "gamma" : gamma}
GSsvm = GridSearchCV(svr, svm_dict, return_train_score = True, scoring = 'r2')

In [168]:
GSsvm.fit(Xtrain_new, Ytrain)

GridSearchCV(cv=None, error_score='raise',
       estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'epsilon': [0.01, 0.1, 1, 3], 'C': [200, 500, 1000], 'gamma': [0.1, 0.01, 0.001]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='r2', verbose=0)

In [169]:
GSsvm.best_params_

{'C': 500, 'epsilon': 1, 'gamma': 0.01}

In [170]:
GSsvm.best_score_

0.40821285293603715

In [171]:
preds_svm = GSsvm.predict(Xtest_new)
r2_score(Ytest, preds_svm)

0.46101213814022024